<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Base</title>
    {% include 'base/css.html' %}
    {% block base_head %} {% endblock %}
</head>
<body>
{% include 'base/navbar.html' with brand_name='eCommerce' %}
<div class="container">
    {% if messages %}
        <ul class="alert alert-success messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}{% endblock %}
</div>
{% include 'base/js.html' %}
</body>
</html>