{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for object in object_list %}
                <div class="col">
                    {{ forloop.counter }}
                    {% include 'products/snippets/card.html' with instance=object %}
                    {% if forloop.counter|divisibleby:2 %}
                        </div></div><div class="row">
                    {% else %}
                        </div>
                    {% endif %}

                </div>
            {% endfor %}
    </div>
    </div>
{% endblock %}
