<div class="card" style="width: 18rem;">
    {% if instance.image %}
        <a href="{{ instance.get_absolute_url }}">
            <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.title }} logo">
        </a>
    {% endif %}
    <div class="card-body">
        <h4 class="card-title">{{ instance.title }}</h4>
        <p class="card-text">{{ instance.description|truncatewords:12 }}</p>
        <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
    </div>
</div>